//- Примеси

//- Блок статистики (часы-глаз-сердечко)
mixin statistic(mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-nav--' + modsList[i].trim();
      }
    }
  //- .article-prev__statistic
  //-   .text-muted
  //-     span.mr-1.article-prev__stat-item #[span.glyphicon.glyphicon-time] 5 минут
  //-     span.mr-1.article-prev__stat-item #[span.glyphicon.glyphicon-eye-open] 35
  //-     span.mr-1.article-prev__stat-item #[span.glyphicon.glyphicon-heart-empty] 14

  .article-prev__statistic&attributes(attributes)
    .text-muted
      span.mr-1.article-prev__stat-item #[span.fas.fa-clock] 5 минут
      span.mr-1.article-prev__stat-item #[span.fas.fa-eye] 35
      span.mr-1.article-prev__stat-item #[span.fas.fa-heart] 14

//- Блок превью статьи
      +article__prev({
        title: ,
        img: ,
        tag: ,
        text:
        })
mixin article__prev(obj)
  article.article-prev.col-md-4
    a.article-prev__img-wrap(href="#")
      img.img-responsiv(src=obj.img, alt="")
    a.article-prev__tag(href="#") !{obj.tag}
    a.article-prev__link(href="#")
      h3.article-prev__title !{obj.title}
    - if (obj.text)
      p.article-prev__text !{obj.text}
    +statistic
  -;

//- Миксин для «Хлебных крошек» (breadcrumbs)
mixin breadcrumbs(Arr)
  .breadcrumbs
  - for(i = 0; i < Arr.length; i++)
    if i != Arr.length - 1
      a.breadcrumbs__link(href="#")= "!{Arr[i]} / "
    else
      a.breadcrumbs__link(href="#") !{Arr[i]}
