//- Примеси

//- Блок статистики (часы-глаз-сердечко)
mixin statistic(mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-nav--' + modsList[i].trim();
      }
    }
  //- .article-prev__statistic
  //-   .text-muted
  //-     span.mr-1.article-prev__stat-item #[span.glyphicon.glyphicon-time] 5 минут
  //-     span.mr-1.article-prev__stat-item #[span.glyphicon.glyphicon-eye-open] 35
  //-     span.mr-1.article-prev__stat-item #[span.glyphicon.glyphicon-heart-empty] 14

  .article-prev__statistic&attributes(attributes)
    .text-muted
      span.mr-1.article-prev__stat-item #[span.fas.fa-clock] 5 минут
      span.mr-1.article-prev__stat-item #[span.fas.fa-eye] 35
      span.mr-1.article-prev__stat-item #[span.fas.fa-heart] 14

//- Блок превью статьи
      +article__prev({
        title: ,
        img: ,
        tag: ,
        text:
        })
mixin article__prev(obj)
  article.article-prev&attributes(attributes)
    - if (obj.img)
      a.article-prev__img-wrap(href="#")
        img.img-responsiv(src=obj.img, alt="")
    - if (obj.tag)
      a.article-prev__tag(href="#") !{obj.tag}
    - if (obj.title)
      a.article-prev__link(href="#")
        h3.article-prev__title !{obj.title}
    - if (obj.text)
      p.article-prev__text !{obj.text}
    +statistic
  -;

//- Миксин для «Хлебных крошек» (breadcrumbs)
mixin breadcrumbs(Arr)
  .breadcrumbs&attributes(attributes)
  - for(i = 0; i < Arr.length; i++)
    if i != Arr.length - 1
      a.breadcrumbs__link(href="#") !{Arr[i]}
      span.breadcrumbs__divider /
    else
      a.breadcrumbs__link(href="#") !{Arr[i]}
  -;

//- Миксин для заголовка 2-го уровня со ссылкой
mixin head-with-links($title)
  .row
    .col-md-12.section-head
      .section-head__line
      a.section-head__all-articles-link.section-head__all-articles-link--title(href="#")
        h2.section-head__title !{$title}
      a.section-head__all-articles-link.hidden-xs(href="#") Все статьи раздела >>

//- Миксин для списка разделов
mixin section-list()
  // Список разделов
  section.section-list.container
    .row
      .col-md-12.section-list__group
        a.section-list__item(href="#") Новости
        a.section-list__item(href="#") Научные статьи
        a.section-list__item(href="#") Инструкции
        a.section-list__item(href="#") Технология
      .col-md-12.section-list__group
        a.section-list__item.section-list__item--2nd(href="#") Образование
        a.section-list__item.section-list__item--2nd(href="#") ИКТ
        a.section-list__item.section-list__item--2nd(href="#") Выступления
        a.section-list__item.section-list__item--2nd(href="#") Сборник

//- блок «Авторизация / Регистрация»
mixin auth-reg
  .auth-reg&attributes(attributes)
    button.auth-reg__item(type="button") Авторизация
    span.auth-reg__divider /
    button.auth-reg__item(type="button") Регистрация
