//- Примеси

//- Блок статистики (часы-глаз-сердечко)
mixin statistic(mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' stat--' + modsList[i].trim();
      }
    }
  //- .article-prev__statistic
  //-   .text-muted
  //-     span.mr-1.article-prev__stat-item #[span.glyphicon.glyphicon-time] 5 минут
  //-     span.mr-1.article-prev__stat-item #[span.glyphicon.glyphicon-eye-open] 35
  //-     span.mr-1.article-prev__stat-item #[span.glyphicon.glyphicon-heart-empty] 14

  .stat(class=allMods)&attributes(attributes)
    .text-muted
      span.stat__item #[span.fas.fa-clock] 5 минут
      span.stat__item #[span.fas.fa-eye] 35
      span.stat__item #[span.fas.fa-heart] 14

//- Блок превью статьи
      +article__prev({
        title: ,
        img: ,
        tag: ,
        text:
        })
mixin article__prev(obj)
  article.article-prev&attributes(attributes)
    - if (obj.img)
      a.article-prev__img-wrap(href="#")
        img.img-responsiv(src=obj.img, alt="")
    - if (obj.tag)
      a.article-prev__tag(href="#") !{obj.tag}
    - if (obj.title)
      a.article-prev__link(href="#")
        h3.article-prev__title !{obj.title}
    - if (obj.text)
      p.article-prev__text !{obj.text}
    +statistic
  -;

//- Миксин для «Хлебных крошек» (breadcrumbs)
mixin breadcrumbs(Arr)
  .breadcrumbs&attributes(attributes)
  - for(i = 0; i < Arr.length; i++)
    if i != Arr.length - 1
      a.breadcrumbs__link(href="#") !{Arr[i]}
      span.breadcrumbs__divider /
    else
      a.breadcrumbs__link(href="#") !{Arr[i]}
  -;

//- Миксин для заголовка 2-го уровня со ссылкой
mixin head-with-links($title)
  .row
    .col-md-12.section-head
      .section-head__line
      a.section-head__all-articles-link.section-head__all-articles-link--title(href="#")
        h2.section-head__title !{$title}
      a.section-head__all-articles-link.hidden-xs(href="#") Все статьи раздела >>

//- Миксин для списка разделов
mixin section-list()
  // Список разделов
  section.section-list.container
    .row
      .col-md-12.section-list__group
        a.section-list__item(href="#") Новости
        a.section-list__item(href="#") Научные статьи
        a.section-list__item(href="#") Инструкции
        a.section-list__item(href="#") Технология
      .col-md-12.section-list__group
        a.section-list__item.section-list__item--2nd(href="#") Образование
        a.section-list__item.section-list__item--2nd(href="#") ИКТ
        a.section-list__item.section-list__item--2nd(href="#") Выступления
        a.section-list__item.section-list__item--2nd(href="#") Сборник

//- блок «Авторизация / Регистрация»
mixin auth-reg
  .auth-reg&attributes(attributes)
    button.auth-reg__item(type="button") Авторизация
    span.auth-reg__divider /
    button.auth-reg__item(type="button") Регистрация

//- блок социальных кнопок
mixin social-buttons
  ul.social&attributes(attributes)
    li
      span
        a.btn.btn-lg.btn-soc-enter.vk(href="https://vk.com/obr_razvitum", class="", target="_blank", title="Группа Развитум в Vk.ru") #[i.fab.fa-vk]
    li
      span
        a.btn.btn-lg.btn-soc-enter.ok(href="https://ok.ru/proektrazvitum", target="_blank", title="Группа Развитум в Ok.ru") #[i.fab.fa-odnoklassniki]
    li
      span
        a.btn.btn-lg.btn-soc-enter.mailru(href="https://my.mail.ru/community/razvitum/", target="_blank", title="Сообщество Развитум в Mail.ru") #[i.fas.fa-at]
    li
      span
        a.btn.btn-lg.btn-soc-enter.facebook(href="https://www.facebook.com/razvitum.ru", target="_blank", title="Проект Развитум в Facebook.com") #[i.fab.fa-facebook-f]
    li
      span
        a.btn.btn-lg.btn-soc-enter.viber(href="https://invite.viber.com/?g2=AQBud0Le5W62zUm4u4v%2FOmYFPqKOZRWaTnmVuC44jjmMwZHYHJRKn1e62hEO8s8m", target="_blank", title="Сообщество Развитум в Viber") #[i.fab.fa-viber]
